# Ambiente virtual
venv/
.env

# Compilações e caches
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.db

# Build / Vite / Node
node_modules/
dist/
build/
.cache/
frontend/node_modules/
frontend/dist/

# Temporários VSCode e Render
*.tmp
*.temp
.DS_Store
.vscode/
*.sqlite3
*.coverage
*.bak
*.swp
*.swo

# Arquivos de deploy temporários do Render
Available
Build
Deploying...
Running
Uploaded
Uploading
Your
tsc
