# Python / Flask
__pycache__/
*.pyc
instance/
migrations/
.env
*.env
venv/
.venv/
.env.local
.env.development
.env.production

node_modules/
dist/
build/
*.tsbuildinfo

frontend/frontend/
frontend/backend/
frontend/dist/

.vscode/
.DS_Store
*.log
*.sqlite3
*.db

serviceAccountKey.json
firebase-key.json

*.local
frontend/node_modules/
frontend/dist/
