<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes da Empresa</title>
</head>
<body>
    <h1>Detalhes da Empresa</h1>
    {% if erro %}
        <p style="color: red;"><strong>Erro:</strong> {{ erro }}</p>
    {% else %}
        <p><strong>Nome:</strong> {{ empresa['nomeEmpresarial'] }}</p>
        <p><strong>CNPJ:</strong> {{ empresa['ni'] }}</p>
        <p><strong>Telefone:</strong> {{ empresa['telefone'] }}</p>
        <p><strong>Atividade Econômica:</strong> {{ empresa['cnaePrincipal']['descricao'] }}</p>
        <p><strong>Endereço:</strong> {{ empresa['endereco']['logradouro'] }}, {{ empresa['endereco']['numero'] }}</p>
    {% endif %}
    <a href="/buscar_instituicoes">Voltar</a>
    <a href="{{ url_for('index') }}" style="position: absolute; top: 20px; left: 20px; text-decoration: none; color: #085e16; font-weight: bold;">
        &#8592; Voltar para a página principal
    </a>
</body>
</html>