<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesquisar Empresas</title>
</head>
<body>
    <a href="{{ url_for('index') }}" style="position: absolute; top: 20px; left: 20px; text-decoration: none; color: #085e16; font-weight: bold;">
        &#8592; Voltar para a página principal
    </a>
    <h1>Pesquisar Empresas</h1>
    <form action="/pesquisar" method="POST">
        <label for="palavra_chave">Palavra-chave:</label>
        <input type="text" name="palavra_chave" id="palavra_chave" required>
        <br>
        <label for="estado">Estado:</label>
        <input type="text" name="estado" id="estado" required>
        <br>
        <button type="submit">Pesquisar</button>
    </form>
</body>
</html>